
{% if bitbucket_config is defined %}
{% for section in sorted(bitbucket_config.keys()) %}

# {{ section }}
{% for item in sorted(bitbucket_config[section].keys()) %}
{{ section }}.{{ item }}={{ bitbucket_config[section][item] }}
{% endfor %}
{% endfor %}
{% endif %}
