#{{ ansible_managed }}

INSTANCE_NAME={{ bitbucket_instance_name }}

# The base URL of the Bitbucket instance to be backed up. It cannot end on a '/'.
BITBUCKET_URL=https://{{ bitbucket_base_url }}/

# The path to the Bitbucket home directory (with trailing /)
BITBUCKET_HOME={{ bitbucket_home_dir }}

BITBUCKET_UID={{ bitbucket_username }}
BITBUCKET_GID={{ bitbucket_username }}

BACKUP_HOME_TYPE=rsync

BACKUP_DATABASE_TYPE=mysql

BACKUP_ARCHIVE_TYPE=tar

# intended to be blank
BACKUP_ELASTICSEARCH_TYPE=

STANDBY_HOME_TYPE=none
STANDBY_DATABASE_TYPE=none

BACKUP_ZERO_DOWNTIME=false


BITBUCKET_BACKUP_USER={{ bitbucket_backup_user }}
BITBUCKET_BACKUP_PASS="{{ bitbucket_backup_password }}"

# Optional list of repo IDs which should be excluded from the backup. For example: (2 5 88)
BITBUCKET_BACKUP_EXCLUDE_REPOS=({{ bitbucket_backup_excluded_repos|default([])|join(' ') }})


BITBUCKET_DB="{{ bitbucket_backup_db_database }}"
MYSQL_HOST="{{ bitbucket_backup_db_host }}"
MYSQL_USERNAME="{{ bitbucket_backup_db_username }}"
MYSQL_PASSWORD="{{ bitbucket_backup_db_password }}"
MYSQL_BACKUP_OPTIONS=

# The path to working folder for the backup
BITBUCKET_BACKUP_ROOT="{{ bitbucket_backup_working_dir }}"
BITBUCKET_BACKUP_DB=${BITBUCKET_BACKUP_ROOT}/bitbucket-db.sql
BITBUCKET_BACKUP_HOME=${BITBUCKET_BACKUP_ROOT}/bitbucket-home/

# The path to where the backup archives are stored
BITBUCKET_BACKUP_ARCHIVE_ROOT=${BITBUCKET_BACKUP_ARCHIVE_ROOT:-/backup}

# Options to pass to every "curl" command
CURL_OPTIONS="-L -s -f --insecure"

# Used by the scripts for verbose logging. If not true only errors will be shown.
BITBUCKET_VERBOSE_BACKUP=${BITBUCKET_VERBOSE_BACKUP:-true}


# The number of backups to retain. After backups are taken, all old snapshots except for the most recent
# ${KEEP_BACKUPS} are deleted.  Set to 0 to disable cleanup of old snapshots.
# This is also used by Disaster Recovery to limit snapshots.
KEEP_BACKUPS=0
